{% extends './bases/base_navs.html' %}

{% block body %}
<div style="margin-bottom: 10px; margin-top: -20px;">
    <div class="card">
        <div class="card-body justify-content-center align-items-center">
            <h1 class="card-title"><strong>Perfil</strong></h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <br />
            {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('update_profile') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                </div>
                <div class="form-group">
                    <label for="fullname">Nombre Completo</label>
                    <input type="text" class="form-control" id="fullname" name="fullname" value="{{ user.fullname }}" required>
                </div>
                <div class="form-group">
                    <label for="password">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirmar Nueva Contraseña</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}